*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul li {
    list-style: none;
}



$colorBgNav :#f7581a;

$colorBgNavMobile :#f77c4c;
$colorItemsNav:#fcfcfc;
$colorItemsNavHover:#c7c7c7;
$fontFamaly :  Verdana, sans-serif;

.nav {
    display: flex;
    justify-content: space-around;
    background-color:$colorBgNav; 
    font-family: $fontFamaly;
    .log a{
        font-size: 19px;
        color: $colorItemsNav;
        line-height: 60px;
        font-weight: bold;
    }
    .menu{
        display: flex;
        line-height: 60px;
        li{
            padding: 0 10px;
            color: $colorItemsNav;
            a{
                color: inherit;
                font-size: 19px;
                font-weight: 300;
                transition: all .3ms ease-in;
                &:hover{
                      color: $colorItemsNavHover;
                }

            }
        }
       
    }
}

.burger{
    display: none;
    .close{
        display: none;
    }
}

@media screen and (max-width: 700px){
    .nav {
        position: relative;
        z-index: 4;
    }
    .nav .burger{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 34px;
        color: $colorItemsNav;
    }
    .nav .menu{
        
        transition: top .3s ease;
 
        flex-direction: column;
        justify-content: center;
        text-align: center;
       
            width: 100%;
            height: calc(100vh - 60px);
            overflow: hidden;
            position: absolute;
            background-color: $colorBgNavMobile;
           
            top:-100vh;
             left: 0;
    }
.menu.activeMenu{

    top:60px;
}

}